body {
	background-image: url("../src/main/resources/static/images/trans-flag-background.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	padding: 50px;
}

.container {
	background: radial-gradient(circle, #eda4b7, #7d92e1);
	display: grid;
	padding: 0 1rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 2fr 1fr 4fr 2fr 6fr 8fr 2fr 10fr 2fr 10fr 8fr;
	max-height: 2650px;
	min-width: 600px;
}

#portfolio-name {
	grid-row-start: 1;
	grid-column: 1/4; 
}

#portfolio-career {
	grid-row: 2/3;
	grid-column-start: 1;
}

nav {
	align-self: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem auto;
    padding: 11px;
    justify-content: space-between;
    grid-row: 3/4;
    grid-column: 1/5;
}

.nav-button a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav-button a:hover {
    background-color: #555;
    color: white;
    transition-duration: 1s;
}

#background-banner {
	grid-row: 4/5;
}

#about-me {
	grid-row: 5/6;
	grid-column: 1/5;
	display: flex;
	justify-content: center;
}


#skills {
	grid-row: 6/7;
	grid-column: 1/5;
	display: flex;
	justify-content: space-around;
}

#list-of-skills {
	background-color: #eda4b7;
	border-style: groove;
	padding: 5px;
}

#list-of-languages {
	background-color: #7d92e1;
	border-style: groove;
	padding: 5px;
	min-width: 282px;
}

#finished-heading {
	grid-row: 7/8;
}

#finished-projects {
	grid-row: 8/9;
	grid-column: 1/5;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.project {
	border-style: inset;
	min-width: 600px;
	min-height: 300px;
	font-size: 150%;
}

.project a {
	background-color: black;
	color: white;
}

#pet-sanctuary {
	background-image: url("../src/main/resources/static/images/animal-sanctuary-screenshot.png");
}

#review-site {
	background-image: url("../src/main/resources/static/images/review-site-screenshot.png");
	
}

#fortune-teller {
	background-image: url("../src/main/resources/static/images/fortune-teller-screenshot.png");
}


#current-heading {
	grid-row: 9/10;
}

#current-projects {
	grid-row: 10/11;
	grid-column: 1/5;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 150%;
}

#nameless {
	background-image: url("../src/main/resources/static/images/nameless-screenshot.png");
}

#idle {
	background-image: url("../src/main/resources/static/images/idle-game-screenshot.png");
}

footer {
	align-self: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem auto;
    padding: 11px;
    justify-content: space-between;
	grid-row: 11/12;
	grid-column: 1/5;
}

.web-link a {
	display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.web-link a:hover {
    background-color: #555;
    color: white;
    transition-duration: 1s;
}

#contact-me-header {
	padding-right: 25px;
}
